<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleafe.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="Fragments/bootstrap">

    <title>Prestige-Cab</title>
</head>

<body>
<div th:replace="Fragments/navbar"></div>

<br>
<div class="container">
    <h1>Contact</h1>

    <form>

        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nom"></label>
            <input type="text" class="form-control" id="nom" placeholder="Nom">
        </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="prenom"></label>
            <input type="text" class="form-control" id="prenom" placeholder="Prenom">
        </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4"></label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="inputState"></label>
                <select id="inputState" class="form-control">
                    <option selected>Demande</option>
                    <option>Questions</option>
                    <option>Devis</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Decrivez votre demande" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
        </div>

        <br>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

</div>
</body>
</html>