<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Liste des voitures</title>
    <link th:replace="Fragments/bootstrap">
</head>
<body>
<div th:replace="Fragments/navbar"></div>
<h1>Accueil</h1>
<ul th:each="vehicule: ${vehicules}">
    <li>

        <span th:text="${vehicule.nom}"></span><br>Description:
        <span th:text="${vehicule.description}"></span><br>Prix:
        <span th:text="${vehicule.prix}"></span><br>
        <span th:text="${vehicule.image1}"></span><br>
        <span th:text="${vehicule.image2}"></span><br>
        <span th:text="${vehicule.image3}"></span><br>

    </li>
</ul>

</body>
</html>
